# Ignore the .git directory when using `tree --gitignore -a`.
/.git

# Ignore environment variable files containing secrets.
/.env

# Docker volumes
/velocity/data/**
!/velocity/data/.keep

/luckperms/data/**
!/luckperms/data/.keep

/schematics/**

/paper/data/**
!/paper/data/bukkit.yml
!/paper/data/spigot.yml
!/paper/data/commands.yml
!/paper/data/plugins
!/paper/data/plugins/WorldEdit
!/paper/data/plugins/WorldEdit/schematics/
!/paper/data/plugins/WorldEdit/schematics/.keep

/fabric/data/**
!/fabric/data/config
!/fabric/data/config/worldedit
!/fabric/data/config/worldedit/schematics
!/fabric/data/config/worldedit/schematics/.keep

# Backups
/backups/**
!/backups/.keep
