# Ignore the .git directory when using `tree --gitignore -a`.
/.git

# Ignore environment variable files containing secrets.
/.env

# Docker volumes
/velocity/data/**
!/velocity/data/.keep

/luckperms/data/**
!/luckperms/data/.keep

/schematics/**

/fabric/data/**
!/fabric/data/config
!/fabric/data/config/worldedit
!/fabric/data/config/worldedit/schematics
!/fabric/data/config/worldedit/schematics/.keep

